/*
Student Name: Aidan Taylor
Course Title: CIS197HTM
Term: Spring 2023
Description: Custom CSS styling for personal project assignment
*/

/* Comply with WebAIM contrast checks */
.override-text-gray {
    color: #B0B1BA;
}

label {
    color: #B0B1BA;
}

/* Style rule for hero image */
.hero {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url(../images/Hero-cropped.jpg), no-repeat;
    background-size: cover;
    background-position: center center;
    filter: grayscale(100%);
    color: white;
    height: 42rem;
}